html {
  height: 100%;
  min-height: 600px;
  min-width: 450px;
  overflow: hidden;
}

body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: $gap * 1.5;
  width: 100%;
}

input {
  margin-bottom: 0;
}

.mb {
  margin-bottom: $gap;
}

.options-page-html {
  width: 100%;
  height: 100%;
  overflow: auto;

  body {
    padding: 0;
  }
}