html {
  height: 500px;
  width: 450px;
}

body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: $gap;
  width: 100%;
}

input {
  margin-bottom: 0;
}

.mb {
  margin-bottom: $gap;
}