body {
  .mx-datepicker-popup {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.7);
  }
  
  .mx-datepicker-content {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .mx-datepicker-body {
    margin: auto;
    margin-bottom: 0;
  }

  .mx-datepicker-footer {
    border: none;
    margin-bottom: auto;
    text-align: center;
  }
  
  .mx-calendar-panel-date {
    background: #fff;
    box-shadow: 0px 0px 10px 3px rgb(0 0 0 / 50%);
  }

  .mx-table {
    th, td {
      text-align: center;
    }
  }

  .mx-date-row:last-child {
    td {
      border-bottom: none;
    }
  }
}