.is-loading.default-loader {
  position: relative;
  &, * {
    pointer-events: none;
    user-select: none;
  }

  &::before {
    content: '';
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    inset: 0;
    z-index: 1;
  }

  &::after {
    content: '';
    width: 30px;
    height: 30px;
    border: 4px solid gray;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 50%;
    z-index: 2;
    border: 5px solid;
    border-color: lightgray gray gray;
    border-radius: 50%;
    animation: spin 2s linear infinite 0s;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}